.header {
  align-items: center;
  display: flex;
  gap: 20rem;
  height: 60rem;
  justify-content: end;
  padding: 10rem;
  width: 100%;
}

.header__link {
  cursor: pointer;
  font-size: 13rem;
}

.header__link:hover {
  text-decoration: underline;
}

.header__icon {
  border-radius: 25rem;
  padding: 6rem;
  width: 40rem;
}

.header__icon:not(:first-of-type) {
  margin-left: 10rem;
  padding: 0;
}

.header__icon:first-of-type:hover {
  background-color: var(--color-grey-3);
}
