.header {
  align-items: center;
  display: flex;
  gap: 10rem;
  justify-content: end;
  padding: 10rem;
  width: 100%;
}

.header__link {
  cursor: pointer;
  font-size: 13rem;
}

.header__link:hover {
  text-decoration: underline;
}

.header__icon {
  cursor: pointer;
  height: 40rem;
  margin-left: 10rem;
  width: 40rem;
}
