.header {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: end;
  padding: 6px;
}

.header__link {
  cursor: pointer;
  font-size: 13rem;
  text-transform: capitalize;
}

.header__link:hover {
  text-decoration: underline;
}

.header__icon {
  cursor: pointer;
  height: 32px;
  padding: 4px;
  width: 32px;
}
