@import url(header.css);
@import url(main-content.css);
@import url(footer.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 1px;

  --color-grey-1: #f8f9fa;
  --color-grey-2: #dadce0;
  --color-grey-3: #f2f2f2;
  --text-color-black: rgba(0, 0, 0, 0.87);
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 14rem;
  text-transform: capitalize;
}

body * {
  color: var(--text-color-black);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
