.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-content__logo {
  width: 272rem;
  height: 92rem;
}

.main-content__search {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 13rem;
  max-width: 585rem;
  padding: 20rem;
}

.main-content__search input {
  width: 100%;
}

.main-content__buttons a {
  background-color: var(--color-grey-1);
  border: 1px solid var(--color-grey-1);
  border-radius: 4rem;
  cursor: pointer;
  padding: 10rem 16rem;
  text-transform: capitalize;
}

.main-content__buttons a:hover {
  border: 1px solid var(--color-grey-2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
